body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(to right, #333, #555);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.flex-container {
    display: flex;
}

.main-content {
    flex: 3;
    padding: 20px;
}

.sidebar {
    flex: 1;
    background: #ddd;
    padding: 20px;
}

.floated-image {
    float: left;
    margin-right: 15px;
    width: 250px;
    border: 3px solid #ccc;
}

.gallery {
    text-align: center;
}

.gallery img {
    width: 30%;
    margin: 10px;
    border: 3px solid #ccc;
}

footer {
    background: linear-gradient(to right, #333, #555);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}